.sign-up, .login{
    text-align: center;
}

.sign-up h3, .login h3{
    margin-bottom: 50px;
    margin-top: 50px;
    color: blueviolet;
}


.auth-toggle-link{
    margin-top: 20px;
    color: blueviolet;
    font-size: 14px;
    text-align: left;
    cursor: pointer;
}

.seller-auth{
    border: 3px;
}