.user-auth h3{
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
    text-align: center;
}

.user-auth{
    margin-bottom: 100px;
}

.user-auth a{
    color: blueviolet;
    cursor: pointer;
}

.common-form a{
    color: blueviolet;
    cursor: pointer;
}