<ngb-carousel>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWwwNJkrs0wBGoUSOAfEWvl1TK-y508m8FwxWpb8GmX7KpNx-dIL2p6iK6agAE41tx4l8&usqp=CAU"/>
		</div>
		<div class="carousel-caption">
			<h3>First slide label</h3>
			<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
		</div>
	</ng-template>

	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="https://assets-global.website-files.com/637610b6e8be873142dadb34/63e231574133e944d07d64f9_7-Ecommerce-Technology-Trends-that-Empower-Businesses-Updated.png"/>
		</div>
		<div class="carousel-caption">
			<h3>Second slide label</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
		</div>
	</ng-template>

</ngb-carousel>